<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tips</title>
    <%- include("partials/header"); -%>
</head>

<body>

    <h1>Welcome for your Tips!</h1>
    <p>THe fact that you are here proves that you are on the way to something bi or just don't have friends.</p>
    <p>Tips for better writing of diaries are:
        <ul>
            <li>Give it a name.<p>Give it a name so as to personalize it.</p></li>
            <li>Question your day.<p>And derive the most valuable moment of it.</p></li>
            <li>Stay Clear.<p>So you don't fail to understand what you wrote yesterday.</p></li>
        </ul>
    </p>
    <p>Stay positive, and keep writing.</p>

</body>
<%- include("partials/footer"); -%>

</html>